.hero {
    background-image: url("./images/rpiboard.png");
    background-position: 90% 60%;
    background-repeat: no-repeat;
}
.pi4Size {
    width: 700px;
    height: 700px;
}

.grow { 
    transition: all .2s ease-in-out; 
}
.grow:hover { 
    transform: scale(1.03); 
}
